* {margin: 0; padding: 0; border: 0;}

body {
	font-family: Symbola, serif;
  padding: 50px 8px 8px;
  font-size: 16pt;
}

@font-face {
  font-family: Symbola;
  src: url(font/Symbola.eot);
  src: local("Symbola Regular"), local("Symbola"), url(font/Symbola.woff2) format("woff2"), url(font/Symbola.woff) format("woff"), url(font/Symbola.ttf) format("truetype"), url(font/Symbola.otf) format("opentype");
}

h1 {
	text-align: center;
	font-size: 100px;
	margin-bottom: 50px;
}

#subtitle1, #subtitle2, #buttons, #files {
  visibility: hidden;
}

#subtitle1, #subtitle2, #buttons {
  margin-bottom: 50px;
  text-align: center;
}

#subtitle1, #subtitle2 {
	font-size: 50px;
}

button {
  font-family: Symbola, serif;
  font-size: 16pt;
  background-color: #F1EFEB;
  padding: 5px 20px;
  border: 1px solid #000;
}

table {border-collapse: collapse; width: 100%;}
td, tr {vertical-align: middle; text-align: left;}

#files td, #files th {width: 1px; white-space: nowrap;}
#files td:first-child, #files th:first-child {width: 100%;}

#files th {font-weight: bold; padding-bottom: 5px; border-bottom: 1px dotted #808080;}
#files td {padding-top: 10px;}

#files a {
  display: block;
  text-decoration: none;
  color: #000;
  width: 100%;
  padding-right: 10px;
}

#files a:hover {
  text-decoration: underline;
}