
.math-field{
	width: 100%;
	border:none;
	padding-bottom: 5px;
}

.filename {
	margin-bottom: 15px;
}

.math-field.mq-editable-field.mq-focused {
	border:none;
	box-shadow:none;
}

#filename {
	height: 48px;
	font-size: 40px;
}

#top-bar img, #top-bar input {
	vertical-align: middle;
	margin-bottom: 10px;
}