* {margin: 0; padding: 0; border: 0;}

body {
  text-align: center;
	font-family: Symbola, serif;
  font-size: 16pt;
  padding: 50px;
}

@font-face {
  font-family: Symbola;
  src: url(font/Symbola.eot);
  src: local("Symbola Regular"), local("Symbola"), url(font/Symbola.woff2) format("woff2"), url(font/Symbola.woff) format("woff"), url(font/Symbola.ttf) format("truetype"), url(font/Symbola.otf) format("opentype");
}

h1 {
	font-size: 100px;
	margin-bottom: 50px;
}

#subtitle1, #subtitle2, #buttons {
  margin-bottom: 50px;
}

#subtitle1, #subtitle2 {
	font-size: 50px;
}

button, input[type=submit] {
  font-family: Symbola, serif;
  font-size: 16pt;
  background-color: #F1EFEB;
  padding: 5px 20px;
  border: 1px solid #000;
}

table {border-collapse: collapse;}
td, tr {vertical-align: middle; text-align: left;}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

#files {
  margin-left: auto;
  margin-right: auto;
  min-width: 600px;
}

#files td, #files th {width: 1px; white-space: nowrap; text-align: right}
#files td:first-child, #files th:first-child {padding-right: 10px; width: auto; text-align: left;}

#files th {font-weight: bold; padding-bottom: 5px; border-bottom: 1px dotted #808080;}
#files td {padding-top: 10px;}

#files a {
  display: block;
  text-decoration: none;
  color: #000;
}

#files a:hover {
  text-decoration: underline;
}