body{
	font-family: Symbola, serif;
	text-align:center;

}

@font-face {
  font-family: Symbola;
  src: url(font/Symbola.eot);
  src: local("Symbola Regular"), local("Symbola"), url(font/Symbola.woff2) format("woff2"), url(font/Symbola.woff) format("woff"), url(font/Symbola.ttf) format("truetype"), url(font/Symbola.otf) format("opentype");
}

h1 {
	text-align:center; 
	font-size: 100px;
}
p {
	text-align: center;
	font-size: 50px;
}

button {
	width : 200px;
}

#div_with_text {
	display: none;
}
#div_with_text2 {
	display: none;
}
#buttondiv {
	display:none;
}